body {
    background-color: brown;
}

#container {
    display: block;
    background-color: burlywood;
    border: 5px solid #f5e4c3;
    height: 275px;
    width: 750;
    margin: 0 auto;
    text-align: center;

}

#btn {
    margin: 10px auto;
    height: 50px;
    color: cornsilk;
    width: 250px;
    font-size: 22px;
    background-color: cyan;
   
}

#output {
margin: 25px auto;
font-size: 26px;
color: cornsilk;
margin: 10px auto;


}

